#copyright-work
	background #FFF
	.descr-serv
		lost-column 5/12 0 0
		// lost-offset 1/12 0 0
		.al_g-btn
			color rgb(55, 55, 55)
	.g-illustrate-sec
		lost-column 6/12 0 0
		lost-offset 1/12 0 0
		img
			display block
			max-width 100%
			height auto