- set_bemto_settings({ prefix: 'al_' })
extends layout

block content
	include _bemto/index
	include _header/_header
	include _features/_features
	include _how-we-work/_how-we-work
	include _copyright/_copyright
	include _mobile-app/_mobile-app
	include _testimonials/_testimonials
	include _graph/_graph
	include _our-clients/_our-clients
	include _contacts/_contacts
	include _tw-block/_tw-block
	include _footer/_footer
