$min-font = 10px
$max-font = 20px
#header-site
	// min-height 27rem
	// lost-row 2/3 0
	// min-height 684px 
	// height vr-block(20)
	// max-width 1600px
	min-height 684px
	background #58303F url(/img/header.svg) center top no-repeat
	background-size: contain
	lost-flex-container column

.header-top
	lost-offset -2/70 column
	opacity 0.8
	background-color #482030
	padding: vr-block(.5) 0;
		
.logoContainer
	all initial
	lost-column 2/12
	lost-offset 3/12
	lost-align middle-left

#logo-site
	display flex
	align-items center
	

#logo-pic
	display: block
	height 2.7em

$min-font = 6px
$max-font = 14px
.main-nav
.footer-nav
	all initial
	lost-column 7/12
	font-family "Days One"
	color white
	font-weight 700
	text-transform uppercase
	background-color #482030
	ul
		all initial
		display: flex;
		width: 100%;
		justify-content: space-between
		height 100%
		align-items center
		li
			all initial
			font-family "Days One"
			a
				all initial
				t-p()
				color white
				font-family "Days One"
				font-weight 700
				text-transform uppercase
				&:hover
					text-decoration underline

#header-utp
	lost-flex-container: column;

#utp
	lost-flex-container: column;	
	// lost-row 10/40 0
	// lost-offset -15/40 column
	background #4b2333
	color #fff
	
$min-font = 10px
$max-font = 18px
.utp_descr
	t-p()
	font-weight 400
	color white
	font-family $opensans
	text-align center

.utp_buttons
	display: flex
	width 100%
	justify-content center
	margin 40px 0 70px 0

.al_g-btn
	border 2px solid #ea2c4e

.al_g-btn_call_back
	border 2px solid #5fc79a
	background-color rgba(95, 199, 154, 0.8)

$min-font = 14px
$max-font = 36px
.al_g-utp_buttons-between
	t-p()
	display block
	color white
	font-family Georgia
	font-style italic
	margin 0 vr-block(.333)

@import '_slider'