.header-site
	height 83.75em
	background #58303F url(/img/header.svg) no-repeat
	background-size: contain
	width 100%

.logoContainer
	lost-column 4/12
	lost-offset 3/12
	height 140px
	lost-align middle-left

.main-nav
	lost-column 5/12
	height 100px
	lost-flex-container: row;
	justify-content: space-between;
	align-items: center
	font-family 'Days One'

.main-nav ul li, .main-nav ul li a
	all: initial

#logo-site
	display block
		// Style for Logo
	size 1.938em 2.313em
	background-color black

#logo-pic
	display block