#al-slider
	display: flex
	width 100%
	background: #fff
	justify-content center
	lost-flex-container: column;
	

.g-slider
	position relative
	z-index 10
	margin-top -40px
	size 1000px 320px
	background: url(/img/fake-slider.svg) 0 0 no-repeat

	