#al-slider
	display: flex
	width 100%
	background: #fff
	justify-content center
	lost-flex-container: column;
	
.g-slider
	position relative
	z-index 10
	margin-top -1.7em
	lost-flex-container: column;
	max-width 100%
	height auto
	background-size: cover;
	// background: url(/img/fake-slider.svg) 0 0 no-repeat
	// background-size: contain
	img
		display: flex
		width 100%
		height auto
		flex-grow 1
		flex-shrink 1