#features
	width 100%
	lost-flex-container column
	background #fff
	.icon-ftb
		display block
		size 180px
		margin 0 auto
	.al_g-btn
		font-size 14px
		border 2px solid #f28094
		padding 15px
		font-family "Days One"
		justify-self: center;
		align-self: flex-start
	.g-in-sec
		margin-bottom 80px
		
.sep-ftp
	size 63px 13px
	margin: 30px auto
	background #e6e6e6 url(/img/arrow-b.svg) 0 0 no-repeat

.descr-ftb
	lost-flex-container row
	background #ea2c4e
	padding 40px 33px 40px 50px
	color white
	height 100% 
	align-self stretch
	h3
		margin-bottom 22px
		font-family "Days One"
	p
		font-size 14px
		margin-bottom 37px 