section#how-we-work
	.g-center
		.g-sec_h: h2 Как мы работаем
		.g-in-sec
			.descr-serv
				h3 Что мы можем предложить для вас?
				p: strong Компания Aldo-media разрабатывает сайты под ключ и модернизирует существующие ресурсы, улучшая их работу. Вы гарантировано получаете эффективный, работающий коммерческий проект. Хотите купить сайт под ключ? Наша компания готова предложить вам массу вариантов делового сотрудничества. Сайты, созданные у нас, отличаются великолепным исполнением, мы гарантируем разработку, продвижение и наполнение сайта профессиональным контентом недорого. Перед созданием сайта наши специалисты проводят анализ и аудит будущего проекта, с учетом потенциального развития бизнеса клиента, изучают лучшие сегменты рынка и перспективу работы интернет-ресурса.
				p Мы гарантируем создание сайта для вас на самом высочайшем уровне, отличные цены на наши услуги, соблюдение графиков работы, полную отчетность, оптимизацию под поисковые запросы Яндекса и Google. Мы дорожим своим именем, поэтому все наши услуги предоставляются на высочайшем уровне. Сайт компании под ключ позволит вам действительно зарабатывать и продвигать свой бизнес. 

				.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-illustrate-sec
				img(src="/img/tablet.png", alt="")

