section#how-we-work
	.g-center
		.g-sec_h: h2 Как мы работаем
		.g-in-sec
			.descr-serv
				h3 Что мы можем предложить для вас?
				p: strong Компания Aldo-media разрабатывает сайты под ключ и модернизирует существующие ресурсы, улучшая их работу.
				p Мы гарантируем создание сайта для вас на самом высочайшем уровне, отличные цены на наши услуги, соблюдение графиков работы, полную отчетность, оптимизацию под поисковые запросы Яндекса и Google. Мы дорожим своим именем, поэтому все наши услуги предоставляются на высочайшем уровне. Сайт компании под ключ позволит вам действительно зарабатывать и продвигать свой бизнес. 

				.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-illustrate-sec
				img(src="/img/tablet.png", alt="")

