section#how-we-work
	.g-center
		.g-sec_h: h2 Как мы работаем
		.g-in-sec
			.descr-serv
				h3 Хедер
				p: strong Maecenas malesuada lectus felis, malesuada ultric. Curabitur ligula. Ut molestie, ultricies porta urna.
				p Vestibulum commodo volutpat a, convallis clla, laoreet enim. Phasellus fermentum in, dolor. Pellen tesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada. Fame sac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integr aliquam purus. Quisque lorem tortor frin gilla sed, vestibulumid, eleif end justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis.
				.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-illustrate-sec
				img(src="/img/tablet.png", alt="")

