section.g-sec#features
	.g-center
		.g-sec_h
			h2 Что мы Вам предлагаем
		.g-in-sec
			.g-ftb
				img.icon-ftb(src="/img/copyright-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Создание сайтов под ключ
					p Сделать свой бизнес прибыльным и доходным вполне реально. Компания Aldo-media предлагает вам создание сайта под ключ. Качественный сайт представляет собой ресурс, помогающий увеличить продажи ваших товаров и услуг. Это мощнейший инструмент для продаж, ведь мы живем в информационном мире. Какие задачи решает собственный сайт?
					.g-c-uw: a.al_g-btn(href="#") Подробнее

			.g-ftb
				img.icon-ftb(src="/img/create_web-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Продвижение сайтов
					p Продвижение вашего сайта приоритетная задача для нас. И мы всегда работаем на результат, вне зависимости от сложности поставленной перед нами цели. Для клиента наша компания представляет полный отчет по продвижению сайта.  Для вас доступны следующие услуги...

					.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-ftb
				img.icon-ftb(src="/img/target-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Качественный копирайтинг для вашего сайта!
					p Профессионально написанный продающий текст поможет продвижению вашего сайта по ключевым вопросам. Даже самый обычный и ничем не примечательный сайт может попасть в ТОП Яндекса благодаря хорошо написанным SEO – текстам. Рекламный текст в состоянии привлечь на сайт целевую аудиторию, то есть потенциальных покупателей, в результате чего вы сможете гарантированно получать хорошую прибыль от своего бизнеса
					.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-ftb
				img.icon-ftb(src="/img/mobile_app-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Создание мобильных приложений
					p Компания Aldo-media предлагает вам такую услугу, как разработка мобильных приложений. Мы живем в век информационных технологий, которые внедряются буквально повсеместно. Наша повседневная жизнь просто не мыслима без смартфона, планшета или ноутбука. Гаджеты нужны для решения самых разнообразных задач, например развлечений или даже бизнеса, и мобильные приложения помогают решать эти задачи оперативно и своевременно...
					.g-c-uw: a.al_g-btn(href="#") Подробнее