section.g-sec#features
	.g-center
		.g-sec_h
			h2 Что мы Вам предлагаем
		.g-in-sec
			.g-ftb
				img.icon-ftb(src="/img/copyright-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Headline
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					.g-c-uw: a.al_g-btn(href="#") Подробнее

			.g-ftb
				img.icon-ftb(src="/img/create_web-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Продвижение сайтов
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.

					.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-ftb
				img.icon-ftb(src="/img/target-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Копирайтинг
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					.g-c-uw: a.al_g-btn(href="#") Подробнее
			.g-ftb
				img.icon-ftb(src="/img/mobile_app-features.png", alt="")
				.sep-ftp
				.descr-ftb
					h3 Создание мобильных приложений
					p Lorem ipsum dolor sit amet enim. Etiam ullamcorpper. Suspendisse dui pellen tesqe dui, non felis. Maecenas malesuada elit lectus, malesuada ultricies.
					.g-c-uw: a.al_g-btn(href="#") Подробнее