section.g-sec#features
	.g-center
		.g-sec_h
			h2 Что мы Вам предлагаем
		.g-in-sec
			.g-ftb
				img.icon-ftb(src="/img/copyright-features.png", alt="")
				.sep-ftp
				.descr-ftb
			.g-ftb
				img.icon-ftb(src="/img/create_web-features.png", alt="")
				.sep-ftp
				.descr-ftb
			.g-ftb
				img.icon-ftb(src="/img/target-features.png", alt="")
				.sep-ftp
				.descr-ftb
			.g-ftb
				img.icon-ftb(src="/img/mobile_app-features.png", alt="")
				.sep-ftp
				.descr-ftb
