#how-we-work
	background-color #5fc79a
	color #fff
	.descr-serv
		lost-column 5/12 0 0
		lost-offset 1/12 0 0
		h3
			font-size 1.5em
			margin-top: 0
		p
			line-height 1.875em
			font-size 0.875em

	.g-illustrate-sec
		lost-column 6/12 0 0
		img
			display: block
			max-width 100%
			height auto
	.al_g-btn
		border 2px solid rgba(#fff, 0.4)
	h2
		color: #fff
		
	
			