section#utp
	.g-center
		.utp_text
			h1.utp_header Наше охуенное УТП, ёпт!
			p.utp_descr Бля, это настолько пиздатое предложение, что вы не то, чтобы не откажетесь, но будете на коленях отсасывать и просить сделать вам это ещё и ещё...
		.utp_buttons
			a.al-btn.al-btn_learn-more(href="#") Узнайте подробнее
			span.al-utp_buttons-between или
			a.al-btn.al-btn_call_back(href="#") Закажите обратный звонок