section.utp.cf
	.center-g
		.utp_text
			h1.utp_header Lorem ipsum etiam ullamcorper
			p.header_ Suspendisse a pellentesque dui, non felis. Maecenas elit lectus felis, malesuada ultricies. Curabitur et ligula. Ut molestie a, ultricies porta urna.

		.utp_buttons
			a#learn_more(href="#") Узнайте подробнее
			span.utp_buttons-between или
			a#call_back(href="#") Закажите обратный звонок

