section#utp
	.g-center
		.utp_text
			h1.utp_header Lorem ipsum dolor sit amet.
			p.utp_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur et nulla aperiam illo dolor repellat, commodi, ducimus non aut excepturi eum exercitationem doloribus....
		.utp_buttons
			a.al-btn.al-btn_learn-more(href="#") Узнайте подробнее
			span.al-utp_buttons-between или
			a.al-btn.al-btn_call_back(href="#") Закажите обратный звонок