section#utp
	.g-center
		.utp_text
			h1.utp_header Lorem ipsum dolor sit amet.
			p.utp_descr Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur et nulla aperiam illo dolor repellat, commodi, ducimus non aut excepturi eum exercitationem doloribus...
		.utp_buttons
			a.al_g-btn.al_g-btn_learn-more(href="#") Узнайте подробнее
			span.al_g-utp_buttons-between или
			a.al_g-btn.al_g-btn_call_back(href="#") Закажите обратный звонок