.header-top
	.g-center
		.logoContainer
			a#logo-site(href="#")
				img#logo-pic(src="/img/aldo-main-logo.png", alt="Aldo media")
		nav.main-nav
			ul
				li: a(href="#") Портфолио
				li: a(href="#") Отзывы
				li: a(href="#") Цены
				li: a(href="#") O нас
				li: a(href="#") Контакты