.header-top
	.center-g
		.logoContainer
			a#logo-site(href="#")
				img#logo-pic(src="../img/logo_2.svg", alt="Aldo media")
				img#logo-text(src="../img/logo_text.svg", alt="Aldo media")
		
		nav.main-nav
			ul
				li: a(href="#") Главная
				li: a(href="#") Портфолио
				li: a(href="#") Отзывы
				li: a(href="#") O нас
				li: a(href="#") Контакты
				li: a(href="#") Блог