section#utp
	.g-center
		.utp_text
			h1.utp_header Будь на шаг впереди с Aldo-media!
			p.utp_descr Мы предлагаем свои услуги по комплексному продвижению сайтов. Надежность, быстрота, недорогая стоимость и высокий конечный результат ждут вас. Мы обладаем отличным портфолио и массой реальных отзывов от благодарных клиентов. Доверьтесь нам и ваш бизнес станет по-настоящему прибыльным!
		.utp_buttons
			a.al_g-btn.al_g-btn_learn-more(href="#") Узнайте подробнее
			span.al_g-utp_buttons-between или
			a.al_g-btn.al_g-btn_call_back(href="#") Закажите обратный звонок