section#copyright-work
	.g-center
		.g-sec_h: h2 Aliquam erat ac ipsum Integer aliquam purus
		.g-in-sec
			.g-illustrate-sec
				img(src="/img/copyright-descr.png", alt="")
			.descr-serv
				p Maecenas malesuada lectus felis, malesuada ultric. Curabitur ligula. Ut molestie, ultricies porta urna. Vestibulum commodo volutpat a, convallis clla, laoreet enim. Phasellus fermentum in, dolor. Pellen tesque facilisis. Nulla imperdiet sit amet magna. Vestibulum dapibus, mauris nec malesuada. Fame sac turpis velit, rhoncus eu, luctus et interdum adipiscing wisi. Aliquam erat ac ipsum. Integr aliquam purus. Quisque lorem tortor frin gilla sed, vestibulumid, eleif end justo vel bibendum sapien massa ac turpis faucibus orci luctus non, consectetuer lobortis quis., varius in, purus. Integer ultrices posuere cubilia Curae, Nulla ipsum dolor lacus, suscipit adipiscing. Cum sociis natoque penatibus et ultrices volutpat. Nullam wisi ultricies a, gravida vitae, dapibus risus ante sodales lectus blandit eu, tempor diam pede cursus vitae, ultricies eu, faucibus quis, porttitor eros cursus lectus, pellentesque eget, bibendum a, gravida ullamcorper quam. Nullam viverra consectetuer. Quisque cursus et, porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus. Sed vel lectus. Ut sagittis, ipsum dolor quam.
				a.al-btn(href="#") Подробнее