section#copyright-work
	.g-center
		.g-sec_h: h2 Лучшие продающие тексты для вашего сайта!
		.g-in-sec
			.g-illustrate-sec
				img(src="/img/copyright-descr.png", alt="")
			.descr-serv
				p Продающий текст – прямой двигатель торговли. И хороший текст должен цеплять, вызывать интерес, побуждать покупателя к приобретению товара. Правильное отражение продающих моментов позволит заинтересовать посетителя сайта. Никаких банальных фраз, только креативные коммерческие предложения! У вас есть бизнес-идея, но вы не знаете, как правильно ее реализовать? Поверьте, профессиональный копирайтинг поможет вам преуспеть в своем бизнесе. Копирайтинг, цена которого у нас одна из самых приемлемых, может подать информацию для покупателя в запоминающейся и цепляющей форме. Что вы получаете, сотрудничая с нами?
				.g-c-uw: a.al_g-btn(href="#") Подробнее