section.g-sec#footer-site
	.header-top
		.g-center
			.logoContainer
				a#logo-site_footer(href="#")
					img#logo-pic_footer(src="/img/logo.svg", alt="Aldo media")
			.footer-nav
				ul
					li: a(href="#") Портфолио
					li: a(href="#") Отзывы
					li: a(href="#") Цены
					li: a(href="#") O нас
					li: a(href="#") Контакты